.input-decorator {
    min-width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



@media (prefers-color-scheme: dark) {

    .form-floating>input:not(:focus):placeholder-shown+label {
        background: #00000000;
        color: white !important;
    }

    .form-floating>.form-control:focus~label {
        color: white !important;
    }

    .form-floating>input+label:after {
        background: #4a4a4a !important;
        color: white !important;
    }

    .form-floating>.form-control:not(:placeholder-shown)~label {
        color: white !important;
    }

    .form-control,
    .form-control:focus {
        background: #00000000;
        color: white;
    }
    .input-decorator{
        background-color: #cf3140;
        color: white;
    }
}