#result {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#img-result {
    max-width: 300px;
}

.image-border {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: inset 1px 1px 25px 5px #00000022;
    min-height: 250px;
    min-width: 350px;
}

#description {
    margin-top: 30px;
}

#result-table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.result-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 0.5px solid #ccc;
    border-right: 1px solid #ccc; /*Right border;*/
    padding-top: 5px;
}


@media screen and (max-width:1500px) {
    #result {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
        gap: 15px;
    }
}

@media screen and (max-width:600px) {
    #img-result {
        max-width: 50%;
    }
    .image-border{
        min-width: 250px !important;
        max-width: 250px !important;
    }
    .result-cell li{
        max-width: 250px;
    }
}