/* .layout-basic{
    height: 100dvh;
    display: flex;
    flex-direction: column;
} */
:root{
    --footer-space:150px;
}

.layout-body{
    height: calc(100% - var(--footer-space));
    display: flex;
    flex-direction: column;
}

.main-component{
    min-height: calc(100% - var(--footer-space));
    margin: 18px 5dvw 0 5dvw;
}