.card-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    min-height: calc(100dvh - 240px);
}

.my-card {
    width: 100%;
    background-color: #4a4a4a ;
    color: white;
    flex: 1 1 0;
    max-height: 50dvh;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.04);
}
.my0.form-control:focus{
    background-color: #fff;
}

.my-card input{
    background-color: #4a4a4a;
}

#card-1 {
    /* flex: 2.5 1 0; */
    flex-grow: 1.5;
    min-height: 300px;
}

#card-2 {
    flex-grow: 3;
    /* flex: 8 1 0 !important; */
    max-height: none;
    /* min-height: calc(100dvh - 240px); */

}
#card-3{
    /* flex: 2.5 1 0; */
    flex-grow: 1.5;
    min-height: 300px;
}

#search {
    margin-top: 50px;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547 !important;
        background-color: #eee !important;
    }

    .my-card {
        background-color: white;
        color: black;
    }

    .my-card input{
        background-color: #fff;
    }
    .form-control:focus{
        background-color: #fff;
    }

}

@media screen and (max-width: 1500px) {
    .card-layout{
        flex-direction: column;
        
    }
    #card-1{
        min-height: 423px;
    }
    #card-2 {
        min-height: auto;
    }
}