footer{
    min-height: 100px;
    background-color: #4a4a4a;
    width: 100%;
    color:white;
    display:  flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top:100%;
    margin-top: 50px;
}

@media (prefers-color-scheme: light) {
    footer {
        background-color: black;
        color: white;
      }
}